<section class="section ">
  <div class="container covers-container">
    <h2 class="covers-title visually-hidden"></h2>

    <div class="content">
      <div class="marquee">
        <div class="marquee__line">
          <img
            class="marquee__img"
            srcset="
              ../img/covers/covers1@2x.webp 2x,
              ../img/covers/covers1@3x.webp 3x
            "
            src="../img/covers/covers1.webp"
            alt="Project 1"
            width="282"
            height="162"
            loading="lazy"
          />

          <img
            class="marquee__img"
            type="image/webp"
            srcset="
              ../img/covers/covers2@2x.webp 2x,
              ../img/covers/covers2@3x.webp 3x
            "
            src="../img/covers/covers2.webp"
            alt="Project 2"
            width="282"
            height="162"
            loading="lazy"
          />
          <img
            class="marquee__img"
            type="image/webp"
            srcset="
              ../img/covers/covers3@2x.webp 2x,
              ../img/covers/covers3@3x.webp 3x
            "
            src="../img/covers/covers3.webp"
            alt="Project 3"
            width="282"
            height="162"
            loading="lazy"
          />
          </div>

          <div class="marquee__line">
          <img
            class="marquee__img"
            srcset="
              ../img/covers/covers1@2x.webp 2x,
              ../img/covers/covers1@3x.webp 3x
            "
            src="../img/covers/covers1.webp"
            alt="Project 1"
            width="282"
            height="162"
            loading="lazy"
          />

          <img
            class="marquee__img"
            type="image/webp"
            srcset="
              ../img/covers/covers2@2x.webp 2x,
              ../img/covers/covers2@3x.webp 3x
            "
            src="../img/covers/covers2.webp"
            alt="Project 2"
            width="282"
            height="162"
            loading="lazy"
          />
          <img
            class="marquee__img"
            type="image/webp"
            srcset="
              ../img/covers/covers3@2x.webp 2x,
              ../img/covers/covers3@3x.webp 3x
            "
            src="../img/covers/covers3.webp"
            alt="Project 3"
            width="282"
            height="162"
            loading="lazy"
          />
        </div>
      </div>


        <div class="marquee">
          <div class="marquee__line">
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers4@2x.webp 2x,
                ../img/covers/covers4@3x.webp 3x
              "
              src="../img/covers/covers4.webp"
              alt="Project 4"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers5@2x.webp 2x,
                ../img/covers/covers5@3x.webp 3x
              "
              src="../img/covers/covers5.webp"
              alt="Project 5"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers6@2x.webp 2x,
                ../img/covers/covers6@3x.webp 3x
              "
              src="../img/covers/covers6.webp"
              alt="Project 6"
              width="282"
              height="162"
              loading="lazy"
            />
          </div>
          <div class="marquee__line">
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers4@2x.webp 2x,
                ../img/covers/covers4@3x.webp 3x
              "
              src="../img/covers/covers4.webp"
              alt="Project 4"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers5@2x.webp 2x,
                ../img/covers/covers5@3x.webp 3x
              "
              src="../img/covers/covers5.webp"
              alt="Project 5"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers6@2x.webp 2x,
                ../img/covers/covers6@3x.webp 3x
              "
              src="../img/covers/covers6.webp"
              alt="Project 6"
              width="282"
              height="162"
              loading="lazy"
            />
          </div>
        </div>

   
        <div class="marquee">
          <div class="marquee__line">
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers7@2x.webp 2x,
                ../img/covers/covers7@3x.webp 3x
              "
              src="../img/covers/covers7.webp"
              alt="Project 7"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers8@2x.webp 2x,
                ../img/covers/covers8@3x.webp 3x
              "
              src="../img/covers/covers8.webp"
              alt="Project 8"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers9@2x.webp 2x,
                ../img/covers/covers9@3x.webp 3x
              "
              src="../img/covers/covers9.webp"
              alt="Project 9"
              width="282"
              height="162"
              loading="lazy"
            />
          </div>
          <div class="marquee__line">
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers7@2x.webp 2x,
                ../img/covers/covers7@3x.webp 3x
              "
              src="../img/covers/covers7.webp"
              alt="Project 7"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers8@2x.webp 2x,
                ../img/covers/covers8@3x.webp 3x
              "
              src="../img/covers/covers8.webp"
              alt="Project 8"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers9@2x.webp 2x,
                ../img/covers/covers9@3x.webp 3x
              "
              src="../img/covers/covers9.webp"
              alt="Project 9"
              width="282"
              height="162"
              loading="lazy"
            />
          </div>
        </div>

        <div class="marquee">
          <div class="marquee__line">
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers1@2x.webp 2x,
                ../img/covers/covers1@3x.webp 3x
              "
              src="../img/covers/covers1.webp"
              alt="Project 1"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers2@2x.webp 2x,
                ../img/covers/covers2@3x.webp 3x
              "
              src="../img/covers/covers2.webp"
              alt="Project 2"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers3@2x.webp 2x,
                ../img/covers/covers3@3x.webp 3x
              "
              src="../img/covers/covers3.webp"
              alt="Project 3"
              width="282"
              height="162"
              loading="lazy"
            />
          </div>
          <div class="marquee__line">
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers1@2x.webp 2x,
                ../img/covers/covers1@3x.webp 3x
              "
              src="../img/covers/covers1.webp"
              alt="Project 1"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers2@2x.webp 2x,
                ../img/covers/covers2@3x.webp 3x
              "
              src="../img/covers/covers2.webp"
              alt="Project 2"
              width="282"
              height="162"
              loading="lazy"
            />
            <img
              class="marquee__img"
              type="image/webp"
              srcset="
                ../img/covers/covers3@2x.webp 2x,
                ../img/covers/covers3@3x.webp 3x
              "
              src="../img/covers/covers3.webp"
              alt="Project 3"
              width="282"
              height="162"
              loading="lazy"
            />
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


  </body>
</html>
