<section class="section" id="faq-section">
  <div class="container">
    <h2 class="section-faq-title">FAQ</h2>
    <div class="accordion-container-faq">
      <ul
        id="accordion-faq-left"
        class="accordion-container section-faq-list"
        data-aos="fade-right"
      >
        <li class="ac section-faq-item">
          <h3 class="section-faq-item-title">
            What programming languages ​​are most often used in your project?
          </h3>
          <button class="ac-trigger section-faq-item-button">
            <svg class="logo-name" width="10" height="5" aria-hidden="true">
              <use href="./img/sprite.svg#icon-infoclosed"></use>
            </svg>
          </button>
          <div class="ac-panel">
            <p class="section-faq-item-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="ac section-faq-item">
          <h3 class="ac-header section-faq-item-title">
            What are the deadlines for the project?
          </h3>
          <button class="ac-trigger section-faq-item-button">
            <svg class="logo-name" width="10" height="5" aria-hidden="true">
              <use href="./img/sprite.svg#icon-infoclosed"></use>
            </svg>
          </button>
          <div class="ac-panel">
            <p class="section-faq-item-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="ac section-faq-item">
          <h3 class="ac-header section-faq-item-title">
            What payment methods do you accept?
          </h3>
          <button class="ac-trigger section-faq-item-button">
            <svg class="logo-name" width="10" height="5" aria-hidden="true">
              <use href="./img/sprite.svg#icon-infoclosed"></use>
            </svg>
          </button>
          <div class="ac-panel">
            <p class="section-faq-item-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>

      <ul
        id="accordion-faq-right"
        class="accordion-container section-faq-list"
        data-aos="fade-left"
      >
        <li class="ac section-faq-item">
          <h3 class="ac-header section-faq-item-title">
            How can I contact you?
          </h3>
          <button class="ac-trigger section-faq-item-button">
            <svg class="logo-name" width="10" height="5" aria-hidden="true">
              <use href="./img/sprite.svg#icon-infoclosed"></use>
            </svg>
          </button>
          <div class="ac-panel">
            <p class="section-faq-item-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="ac section-faq-item">
          <h3 class="ac-header section-faq-item-title">
            Do you provide advice or support?
          </h3>
          <button class="ac-trigger section-faq-item-button">
            <svg class="logo-name" width="10" height="5" aria-hidden="true">
              <use href="./img/sprite.svg#icon-infoclosed"></use>
            </svg>
          </button>
          <div class="ac-panel">
            <p class="section-faq-item-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="ac section-faq-item">
          <h3 class="ac-header section-faq-item-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button class="ac-trigger section-faq-item-button">
            <svg class="logo-name" width="10" height="5" aria-hidden="true">
              <use href="./img/sprite.svg#icon-infoclosed"></use>
            </svg>
          </button>
          <div class="ac-panel">
            <p class="section-faq-item-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
