<section
  class="hero-section"
  data-bg-mobile="./img/hero/heromobile.png"
  data-bg-mobile-retina="./img/hero/heromobile@2x.png"
  data-bg-tablet="./img/hero/herotablet.png"
  data-bg-tablet-retina="./img/hero/herotablet@2x.png"
  data-bg-desktop="./img/hero/herodesk.png"
  data-bg-desktop-retina="./img/hero/herodesk@2x.png"
>
  <div class="hero-container container">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack developer <br />Lloyd Jefferson.
    </h1>

    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a
          class="hero-social-link round-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >IG
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link round-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >FB
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link round-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >YT
        </a>
      </li>

      <li class="hero-social-item">
        <a
          class="hero-social-link round-link"
          href="https://https://github.com/Evgeniya-Tishakova"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >GH
        </a>
      </li>

      <li class="hero-social-item email-item">
        <a
          class="hero-social-link email-link round-link email-round-link"
          href="mailto:lloydjefferson@gmail.com"
          rel="noopener noreferrer nofollow"
        >
          lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
