<section class="projects-section section" id="projects-section">
  <div class="container projects-container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide">
          <div class="projects-content" data-aos="fade-right">
            <ul class="projects-tags">
              <li class="projects-list-link">#react</li>
              <li class="projects-list-link">#js</li>
              <li class="projects-list-link">#node js</li>
              <li class="projects-list-link">#git</li>
            </ul>
            <p class="projects-paragraph">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-button"
              href="https://github.com/YuliiaSheremeta/team-portfolio-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="projects-image-wrapper" data-aos="fade-left">
            <picture>
              <source
                srcset="
                  /img/projects/projects@3x.webp 3x,
                  /img/projects/projects@2x.webp 2x
                "
              />
              <img
                class="projects-image"
                src="/img/projects/projects.webp"
                alt="first project"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-content">
            <ul class="projects-tags">
              <li class="projects-list-link">#react</li>
              <li class="projects-list-link">#js</li>
              <li class="projects-list-link">#node js</li>
              <li class="projects-list-link">#git</li>
            </ul>
            <p class="projects-paragraph">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-button"
              href="https://github.com/YuliiaSheremeta/team-portfolio-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="projects-image-wrapper">
            <picture>
              <source
                srcset="
                  /img/projects/project2@3x.webp 3x,
                  /img/projects/project2@2x.webp 2x
                "
              />
              <img
                class="projects-image"
                src="/img/projects/project2.webp"
                alt="second project"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-content">
            <ul class="projects-tags">
              <li class="projects-list-link">#react</li>
              <li class="projects-list-link">#js</li>
              <li class="projects-list-link">#node js</li>
              <li class="projects-list-link">#git</li>
            </ul>
            <p class="projects-paragraph">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-button"
              href="https://github.com/YuliiaSheremeta/team-portfolio-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="projects-image-wrapper">
            <picture>
              <source
                srcset="
                  /img/projects/project3@3x.webp 3x,
                  /img/projects/project3@2x.webp 2x
                "
              />
              <img
                class="projects-image"
                src="./img/projects/project3.webp"
                alt="third project"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>

      <div class="projects-swiper-buttons">
        <button class="projects-swiper-button-prev">
          <svg class="projects-swiper-left" width="52" height="52">
            <use href="/img/sprite.svg#icon-swiperrigth"></use>
          </svg>
        </button>
        <button class="projects-swiper-button-next">
          <svg class="projects-swiper-right" width="52" height="52">
            <use href="/img/sprite.svg#icon-swiperrigth"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
