<section class="projects-section" id="projects-section">
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <div class="swiper">
            <ul class="swiper-wrapper projects-list">
                <li class="swiper-slide">
                    <div class="projects-content">
                    <ul class="projects-tags">
                        <li class="projects-list-link">#react</li>
                        <li class="projects-list-link">#js</li>
                        <li class="projects-list-link">#node js</li>
                        <li class="projects-list-link">#git</li>
                    </ul>
                    <p class="projects-paragraph">Programming Across Borders: Ideas, Technologies, Innovations</p>
                    <a class="projects-link" href="yuliiasheremeta.github.io/team-portfolio-project/" target="_blank" rel="noopener noreferrer" >
                        <button class="projects-button">See project</button>
                    </a>
                    </div>
                    <div class="projects-image-wrapper">
                        <picture>
                            <source srcset="./img/projects/projects@3x.webp 3x, ./img/projects/projects@2x.webp 2x">
                            <img class="projects-image" src="./img/projects/projects.webp" alt="first project">
                        </picture>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="projects-content">
                    <ul class="projects-tags">
                        <li class="projects-list-link">#react</li>
                        <li class="projects-list-link">#js</li>
                        <li class="projects-list-link">#node js</li>
                        <li class="projects-list-link">#git</li>
                    </ul>
                    <p class="projects-paragraph">Programming Across Borders: Ideas, Technologies, Innovations</p>
                    <a class="projects-link">
                        <button class="projects-button">See project</button>
                    </a>
                    </div>
                    <div class="projects-image-wrapper">
                        <picture>
                            <source srcset="./img/projects/project2@3x.webp 3x, ./img/projects/projects2@2x.webp 2x">
                            <img class="projects-image" src="./img/projects/project2.webp" alt="second project">
                        </picture>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="projects-content">
                    <ul class="projects-tags">
                        <li class="projects-list-link">#react</li>
                        <li class="projects-list-link">#js</li>
                        <li class="projects-list-link">#node js</li>
                        <li class="projects-list-link">#git</li>
                    </ul>
                    <p class="projects-paragraph">Programming Across Borders: Ideas, Technologies, Innovations</p>
                    <a class="projects-link">
                        <button class="projects-button">See project</button>
                    </a>
                    </div>
                    <div class="projects-image-wrapper">
                        <picture>
                            <source srcset="./img/projects/project3@3x.webp 3x, ./img/projects/projects3@2x.webp 2x">
                            <img class="projects-image" src="../img/projects/project3.webp" alt="third project">
                        </picture>
                    </div>
                </li>
            </ul>

            <div class="swiper-buttons">
                <button class="swiper-button-prev">
                    <svg class="projects-swiper-left" width="52" height="52">
                        <use href="./img/sprite.svg#icon-swiperrigth"></use>
                    </svg>
                </button>
                <button class="swiper-button-next">
                    <svg class="projects-swiper-right" width="52" height="52">
                        <use href="./img/sprite.svg#icon-swiperrigth"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
    </div>
</section>