<footer class="page-footer">
  <div class="container-footer" data-aos="fade-down">
    <h2 class="footer-title">
      Let's
      <span class="footer-title-accent"> work </span>
      together
    </h2>

    <form class="footer-form" id="project-order">
      <div>
        <input
          type="email"
          class="footer-input email-input"
          maxlength="32"
          id="user-email"
          name="user-email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
          autocomplete="off"
        />
        <span class="status-message">Success!</span>
        <span class="status-message-fail">Invalid email, try again</span>
      </div>

      <div>
        <input
          type="text"
          class="footer-input comment-input"
          maxlength="100"
          id="user-comment"
          name="user-comment"
          placeholder="comments"
          required
          autocomplete="off"
          pattern=".*\S.*"
        />
      </div>

      <button class="footer-form-submit-btn" type="submit">Send</button>
    </form>

    <ul class="footer-contact-list">
      <li class="contact-item">
        <a
          class="contact-link email-link"
          href="mailto:aleksandrkostucenko11@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="contact-item">
        <a class="contact-link phone-link" href="tel:+3801111111111"
          >+380 11 1111 11 11</a
        >
      </li>
    </ul>
  </div>
</footer>

<div class="backdrop">
  <div class="modal-window">
    <button class="close-modal-button" type="button">
      <svg class="svg-close-icon" width="22" height="22">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <p class="modal-title">Thank you for your interest in cooperation!</p>
    <p class="modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
