body {
  font-family: "Inter Tight", serif;
  background-color: #1C1D20;
  color: #FAFAFA;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  
}
 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}

