/* Styles for Mobile */

.container {
  
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  
}

/* Styles for Tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;

  }
}