/* Styles for Mobile */

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

/* Styles for Tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Styles for Desktop */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;

  }
}