.covers-container {
  max-width: 375px;

  margin: 0 auto;

  background-color: rgba(217, 217, 217, 0.04);
  backdrop-filter: blur(30px);
  background-image: url(../img/covers/elemvectors.webp);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi) {
  .covers-section {
    background-image: url(../img/covers/elemvectors.webp);
  }
}

.content {
  position: relative;

  margin: 0 auto;

  max-height: 508px;
  overflow: hidden;
}
.marquee {
  display: flex;

  user-select: none;
  gap: 32px;
  height: 100%;

  padding-top: 22px;
  padding-bottom: 22px;

  transform: rotate(16deg) translateY(-50%);
}

.marquee__line {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  min-width: 100%;
  animation: scroll 15s linear infinite;
}

.marquee__img {
  max-height: 162px;
  width: auto;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 32px));
  }
}

@media screen and (min-width: 768px) {
  .covers-container {
    max-width: 768px;
  }
  .content {
    max-width: 768px;
    max-height: 960px;
  }

  .marquee {
    gap: 42px;
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .marquee__line {
    gap: 42px;
  }

  .marquee__img {
    max-height: 314px;
  }
}

@media (min-width: 1440px) {
  .covers-container {
    max-width: 1440px;
  }
  .content {
    max-width: 1440px;
  }
}
