@import url('swiper/css');

.projects-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    border-radius: 24px;
    width: 343px;
    height: 812px;
    background: #fafafa;
}

.projects-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
    width: 279px;
    height: 96px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 96px;
}

.projects-list-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    width: 80px;
    height: 45px;
}

.projects-paragraph {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    color: #1c1d20;
    margin-bottom: 32px;
    margin-left: 32px;
    width: 279px;
    height: 84px;

}

.projects-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 60px;
    border: none;
    padding: 13px 32px;
    width: 141px;
    height: 45px;
    background: #ed3b44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 32px;
    margin-left: 32px;
}

.projects-image-wrapper {
    border-radius: 0 0 24px 24px;
    border: none;
    height: 50%;
    background: #242527;
}

.projects-image {
    padding: 100px 16px;
}

.swiper-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    justify-content: center;
    align-items: baseline;
    margin-top: 32px;
}

.swiper-button-prev { 
border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 18px;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: transparent;
    transform: rotate(-180deg);
}


.swiper-button-next {
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 18px;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}




@media screen and (min-width: 768px) {

    .swiper-slide {
        width: 704px;
        height: 1191px;
    }

    .projects-tags {
        width: 312px;
        height: 55px;
        flex-wrap: nowrap;
        margin-bottom: 164px;
        margin-left: 64px;
        margin-top: 64px;

    }

    .projects-paragraph {
        margin-bottom: 32px;
        margin-left: 64px;
        font-weight: 500;
            font-size: 44px;
            line-height: 1;
            letter-spacing: -0.03em;
            color: #1c1d20;
        width: 494px;
        height: 132px;
    }

    .projects-button {
        margin-left: 64px;
        margin-bottom: 64px;
    }

    .projects-image-wrapper {
        width: 100%;
        height: 55%;
    }

    .projects-image {
        padding: 120px 45px;
    }

    .swiper-buttons { 
        margin-top: 64px;
    }

}

@media screen and (min-width: 1440px) {

    .swiper-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
         
    }

         .projects-content {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             justify-content: center;
             max-width: 50%;
         }

    .swiper-slide {
        border-radius: 24px;
        width: 1376px;
        height: 625px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .projects-image-wrapper {
        border-radius: 0 24px 24px 0;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .projects-image { 
        padding: 0;
    }

}