.reviews {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  font-family: Arial, sans-serif;
  background: #1c1d20;
  color: #fff;
  justify-content: start;
  align-items: start;
}

.reviews .reviews-title {
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  font-family: 'InterTight-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-transform: uppercase;
  width: 284px;
}

.reviews .reviews-swiper-container {
  width: 100%;
  height: 100%;
}

.reviews .swiper {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.reviews .swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  height: 338px !important;
}

.reviews .swiper-slide img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews .swiper-slide-review {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.reviews .swiper-slide-review h3 {
  font: 600 20px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.reviews .swiper-slide-review p {
  font: 500 16px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews .swiper-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
  width: 156px;
  height: 68px;
  --swiper-navigation-size: 0;
}

.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  position: static !important;
  border: 1px solid rgba(250, 250, 250, 0.5) !important;
  border-radius: 60px !important;
  padding: 18px;
  width: 68px !important;
  height: 68px !important;
}

.reviews .swiper-button-prev {
  transform: rotate(-180deg);
}

.reviews .swiper-button-prev::after,
.reviews .swiper-button-next::after {
  content: none !important;
}

.reviews .not-found {
  text-align: center;
  color: #6b7280;
  font-size: 1.125rem;
  padding: auto;
}
