/* ================================ Container ================================ */
.container-footer {
    min-width: 320px;
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;

    background-image: url('../img/worktogether/worktogether.png');
    background-repeat: no-repeat;
    background-position: top 0 left 290px;
}

@media screen and (min-resolution:192dpi){
    .container-footer {
        background-image: url('../img/worktogether/worktogether@2x.png');
    }
}

@media screen and (min-width: 768px) {
    .container-footer {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 80px;

        background-position: top 0 left 570px;
    }
}

@media screen and (min-width: 1440px) {
    .container-footer {
        max-width: 1440px;
        padding-left: 196px;
        padding-right: 196px;

        background-position: top 0 left 1040px;
    }
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* ================================ /Container ================================ */

/* ================================ Title styles ================================ */
/* Mobile */
.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title-wrapper {
    display: flex;
    gap: 8px;
}

.jeff-footer-img {
    width: 44px;
    height: 44px;
}

.footer-title {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    max-width: 305px;
    margin-bottom: 67px;

    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;

    transition: transform 250ms linear;
}

.footer-title-accent {
    color: #ed3b44;
}

.footer-title::before {
    content: "";
    display: block;

    width: 44px;
    height: 44px;

    border-radius: 15px;
    background-image: url('../img/header/fotoheader.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 250ms linear, box-shadow 250ms linear;
}

.footer-title:hover::before{
    transform: rotateX(10deg) rotateY(10deg) rotateZ(-5deg) scale(1.1);
    box-shadow: 3px 3px 0px #969696,
            -3px -3px 0px #ffffff;
}

.animate-title{
    transform: rotateX(10deg) rotateY(10deg) rotateZ(-2deg) scale(1.1);

    text-shadow: -1px 1px 0 rgb(213, 213, 213), -2px 2px 0 rgb(170, 170, 170), -3px 3px 0 rgb(128, 128, 128), -4px 4px 0 rgb(85, 85, 85), -5px 5px 0 rgb(43, 43, 43), -6px 6px 1px rgba(0, 0, 0, 1);
    -webkit-text-shadow: -1px 1px 0 rgb(213, 213, 213), -2px 2px 0 rgb(170, 170, 170), -3px 3px 0 rgb(128, 128, 128), -4px 4px 0 rgb(85, 85, 85), -5px 5px 0 rgb(43, 43, 43), -6px 6px 1px rgba(0, 0, 0, 1);
    -moz-text-shadow: -1px 1px 0 rgb(213, 213, 213), -2px 2px 0 rgb(170, 170, 170), -3px 3px 0 rgb(128, 128, 128), -4px 4px 0 rgb(85, 85, 85), -5px 5px 0 rgb(43, 43, 43), -6px 6px 1px rgba(0, 0, 0, 1);
}


@media screen and (min-resolution:192dpi){
    .footer-title::before{
        background-image: url('../img/header/fotoheader@2x.webp');
    }
}

@media screen and (min-width: 768px) {
    .footer-title {
        gap: 20px;
    }

    .footer-title::before{
        width: 70px;
        height: 70px;
    }
}

/* Tablet & Laptop*/
@media screen and (min-width: 768px) {
    .footer-title {
        font-size: 64px;
        max-width: 450px;
    }
}

/* ================================ /Title styles ================================ */

/* ================================ Form styles ================================ */
/* Mobile */
.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px){
    .footer-form{
        gap: 30px;
    }
}

.footer-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 44px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px rgba(250, 250, 250, 0.2) solid;

    padding-bottom: 20px;

    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);

    transition: background-color 250ms linear, color 250ms linear, border-color 300ms linear;

    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-input::placeholder {
    color: rgba(250, 250, 250, 0.6);
}

.footer-input:hover,
.footer-input:focus {
    color: #fafafa;
    border-color: #fafafa;
}

/* HTML & CSS validation */
.footer-input:valid {
    border-color: #3cbc81;
}

.footer-input:not(:placeholder-shown):invalid {
    border-color: #e74a3b;
}

.status-message,
.status-message-fail {
    display: none;
}

.footer-input:valid+.status-message {
    display: block;

    color: #3cbc81;
    font-size: 14px;
    position: absolute;
}

.footer-input:not(:placeholder-shown):invalid~.status-message-fail {
    display: block;

    color: #e74a3b;
    font-size: 14px;
    position: absolute;
}

/* /HTML & CSS validation */

.footer-form-submit-btn {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: #ed3b44;
    outline: none;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-top: 16px;

    transition: background-color 250ms linear, border-radius 300ms linear, transform 250ms linear, box-shadow 250ms linear;
}

.footer-form-submit-btn:hover,
.footer-form-submit-btn:focus {
    background-color: #d4232c;
    border-radius: 30%;
    transform: scale(1.05);
    box-shadow: 0px 0px 46px -5px rgba(212, 35, 44, 0.56);
}

/* Tablet */
@media screen and (min-width: 768px) {
    .footer-title {
        margin-bottom: 0px;
    }

    .footer-form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-bottom: 40px;
    }

    .footer-input {
        width: 245px;
        height: 44px;
    }

    .footer-form-submit-btn {
        width: 150px;
        height: 150px;
    }
}

/* Laptop */
@media screen and (min-width: 1440px) {
    .footer-input {
        width: 390px;
        height: 44px;
    }

}

/* ================================ /Form styles ================================ */

/* ================================ Contact list styles ================================ */
/* Mobile */
.footer-contact-list {
    display: flex;
    gap: 4px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;

    height: 37px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;

    font-size: 14px;

    transition: border-color 250ms linear;
}

.contact-item:hover {
    border-color: #fafafa;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .contact-item {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 32px;
        padding-left: 32px;

        height: 55px;
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;

        font-size: 16px;
    }

    .footer-contact-list {
        gap: 8px;
    }
}

/* Tablet */
@media screen and (min-width: 1440px) {
    .footer-form-submit-btn {
        margin-left: 55px;
    }
}

/* ================================ /Contact list styles ================================ */

/* ================================ Modal ================================ */
.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 343px;
    height: 276px;
    background-color: #1c1d20;
    
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;

    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .modal-window {
        min-width: 495px;
        height: 246px;
        padding: 64px;
    }
}

.backdrop:not(.is-open) .modal-window {
    transform: translate(-50%, -100%);
}

.close-modal-button {
    width: 22px;
    height: 22px;

    border: none;
    outline: none;

    position: absolute;
    top: 20px;
    right: 20px;

    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;

    margin-bottom: 16px;
}

.modal-text {
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width:768px) {
    .modal-text {
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(250, 250, 250, 0.6);
    }
}

.error-title {
    font-size: 30px;
}

.error-text {
    font-size: 25px;
}
/* ================================ /Modal ================================ */